
.App{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.post-card{
  width: 300px;
  padding: 20px;
  margin: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}
img{
  height: 100px;
  width: 100%;
  object-fit: contain;
}