*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
.align-center{
    display: flex;
    align-content: center;
}
.flex{
    display: flex;
}

/* header ################################################################# */

header{
    padding: 15px 20px;
    background-color: #29335C;
    display: flex;
    justify-content: space-between;
}
button{
    margin: 0px 15px;
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
}
.bg-leght-purple{
    background-color: rgb(207, 218, 241);
}
.no-bg-btn{
    background-color: transparent;
    color: white;
    padding: 5px 0px;
}

/* main #################################################################### */

.main{
    height: calc(100vh - 63px);
    background-color: antiquewhite;
    display: flex;
}
.w25{
    width: 25%;
    background-color: rgb(240, 240, 240);
}
.row-no{
    width: 75px;
    padding: 5px 20px 5px 30px;
    font-size: 20px;
    line-height: 27px;
}
textarea{
    width: calc(100% - 75px);
    border: none;
    resize: none;
    background-color: rgb(240, 240, 240);
    padding: 5px 10px;
    border: 1px solid gray;
    font-size: 20px;
    line-height: 27px;
}
.w75{
    width: 75%;
    height: calc(100vh -63px);
    padding: 20px 0px;
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.table{
    width: 1000px;
    border: 1px solid black;
    padding: 20px;
}